<h1>Read Staff</h1>

<% @as.each do |a|  %>
<% if a.m_id == @uid %>
<%  u=User.find(a.s_id) %>
<% if ! u.nil? %>
<p>Name : <%= u.name %>   Email: <%= u.email %> <li><%= link_to "Remove" ,{:controller=>'manager',:action=>'delete_staff', :sid =>u.id} %></li> </p>
<% else %>
<p>NO STAFF FOUND </p>
<% end %>
<% end %>
<% end %>